/* COLORES NAVIDEÑOS */
.bg-azul { background: #4040fb !important; }
.bg-rojo { background: #ff0000 !important; }
.bg-verde { background: #005c00 !important; }
.bg-blanco { background: #ffffff !important; }

.text-blanco { color: white !important; }

/* BOTONES */
.btn-verde {
  background: #005c00;
  color: white;
  border: 2px solid white;
}

.btn-rojo {
  background: #ff0000;
  color: white;
  border: 2px solid white;
}

/* TARJETAS DEL CATÁLOGO */
.card-pan {
  background: #ffffff;
  border: 3px solid #005c00;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff0000;
  padding: 15px;
}

/* IMAGEN DEL PAN */
.pan-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.snow {
  position: fixed;
  top: -10px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  animation: caer linear forwards;
}

@keyframes caer {
  to { transform: translateY(110vh); }
}

